body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg,rgba(0, 0, 0, 1) 0%, rgb(20, 20, 20) 50%, rgba(0, 0, 0, 1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap: 50px;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

h1 {
   font-size: 72px;
   font-weight: 500px;
   line-height: 0;
}

.container {
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: center;
}

#input {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px 50px 20px 25px;
    border: 1px solid #2a2a2a;
    border-radius: 16px;
    min-width: 550px;
    font-size: 18px;
    transition: all 0.2s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);

}

#input:hover {
   background-color: #1e1e1e;
   border: 1px solid #2e2e2e;
}

#input:focus {
   outline: none;
   border: 1px solid #444;
   background-color: #202020;
   box-shadow: 0 0 0 4px rgba(255,255,255,0.03);
}

#input::placeholder {
    color: #ffffff;
    user-select: none;
}

#engine-input {
   background-color: #4285F4;
}

#select {
    background-color: #222222;
    padding: 0 20px 0 20px;
    min-height: 100%;
    border-radius: 15px;
    min-width: 100px;
    text-align: center;
    align-content: center;
    transition: all 0.3s ease;
    opacity: 0.8;
}

#output {
   display: none;
   padding: 20px;
   border-radius: 20px;
   width: 300px;
   background-color: #222222;
}

#select.google  { background-color: #4285F4; }
#select.youtube { background-color: #FF0000; }
#select.chat    { background-color: #10A37F; }